<style>
	.doctors-info {
		width: 200px;
		float: left;
		padding: 2px;
	}
	.doctors-info>.doctor {
		margin-top: 6px;
		margin-bottom: 1px;
	}
	.doctors-info>.doctor * {
		line-height: 1.1;
	}
	.doctor .name>td {
		font-weight: bold;
		font-size: 16px;
	}
	.doctor .name .specialization {
		font-size: 15px;
		font-weight: 500;
	}
	.doctors-info>.doctor .expert-in {
		font-size: 12px;
	}
	.doctors-info>.doctor .comes-on {
		font-size: 13px;
		font-weight: 800;
	}
</style>
<div class="doctors-info">
	<table class="doctor">
		<tr class="name">
			<td>
				డా.బి.లక్ష్మీ నారాయణ
				<span class="specialization clearfix">M.S.Ortho</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				ఎముకల వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి శనివారం
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.వాడ్రేవు రవి 
				<span class="specialization">M.D.Derm</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				చర్మవ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల మొదటి ఆదివారం
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.ఎం.శేషాద్రి రెడ్డి 
				<span class="specialization">M.D.Gen</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				యం.డి.జనరల్ మెడిసిన్ 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 3వ బుధవారం
			</td>
		</tr>
	</table>
	
	<table class="doctor">
		<tr class="name">
			<td>
				డా.పి.వి.నిషాంత్  
				<span class="specialization">DNB(Cardiology),NIMS</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				గుండె వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 1వ, 3వ మంగళవారం
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.ఎన్.లక్ష్మీ నారాయణ రెడ్డి
				<span class="specialization">M.S(ENT)</span>
			</td>
		</tr>
			<tr class="expert-in"><td>
				చెవి,ముక్కు,గొంతు  వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 2వ ఆదివారం 
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.టి.వి. గోపీనాధ్ 
				<span class="specialization">M.D.Chest</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				శ్వాస కొస వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 2వ మంగళవారం
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.సత్యప్రసాద్ 
				<span class="specialization">M.ch, Uro</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				మూత్ర పిండాల వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 1వ, 3వ బుధవారం  
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.జి.వర ప్రసాద్ 
				<span class="specialization">M.S.MCH.,Neuro</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				మెదడు,నరముల వ్యాధుల నిపుణులు 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి నెల 2వ ఆదివారం 
			</td>
		</tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.ఎస్ వెంకట రెడ్డి
				<span class="specialization">M.D,D.M,Gastro</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				కాలేయం, పేగు వ్యాధి నిపుణులు
			</td>
		</tr>
		<tr class="comes-on"><td>
			ప్రతి నెల 3వ ఆదివారం
		</td></tr>
	</table>
	<table class="doctor">
		<tr class="name">
			<td>
				డా.జి.రఘుస్వరూప్ 
				<span class="specialization">B.P.T(M.P.T, Ortho)</span>
			</td>
		</tr>
		<tr class="expert-in">
			<td>
				ఫిజియో థెరపిస్ట్ 
			</td>
		</tr>
		<tr class="comes-on">
			<td>
				ప్రతి రోజు 4 నుండి 7 గం ల వరకు 
			</td>
		</tr>
	</table>
</div>
