<div class="print-header">
	<div >
		<h1 class="heading">సూరారెడ్డి నర్సింగ్ హోమ్  </h1>
		<div class="doctor-info">
			<div class="pull-left">
				<span class="doctor-name">డా॥ మల్లిడి కృష్ణారెడ్డి</span>
				<div>స్త్రీ గర్భకొశ మరియు షుగరు వ్యాధి  నిపుణులు </div>
			</div>
			<div class="spacialization-regdno">
				<div >M.B.B.S, D.G.O, Dip.Diabetology</div>
				<div class="text-left" >Regd.No.53338</div>
			</div>
		</div>
	</div>
	<div>
		<img class="logo-img pull-right"src="./assets/images/hospital-logo.png"/>
	</div>
</div>
	<div class="clear"></div>
