<div class="top-navbar hidden-print no-padding">
	<div class="row no-padding">
		<div class="grid-md-6">
			<div class="logo-container pull-left">
				<img class="logo" src="./assets/images/hospital-logo.png" alt="Hospital"/>
				<div class="logo-title">Sura Reddy Nursing Home</div>
			</div>
		</div>
		<div class="grid-md-5 no-padding header-menu">
			<div class="row no-padding">
				<div class="grid-md-5 menu-item">
					<div class="grid-md-12 no-padding menu-header">
						<span>Lab Tests</span>
					</div>
					<div class="row menu-body no-padding">
						<div class="grid-md-6">
							<ul>
								<li ui-sref="labTestsEntry()" ui-sref-active="active">Add</li>
							</ul>
						</div>
						<div class="grid-md-6">
							<ul>
								<li ui-sref="billDeskLabs()" ui-sref-active="active">List</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-md-1">
			<div class="nav-menu pull-right">
				<ul class="menu">
					<li>
						<a ui-sref="login" href="#/login" class="btn btn-default color-white">
							<i class="fa fa-power-off color-red"></i>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>